.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header h2 {
    font-size: 2rem;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

.avatar {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar img {
    border-radius: 50%;
}

.avatar p {
    font-size: 1.2rem;
}
